.footer {
    color: var(--colorGray);
}

.footer__logo {
    max-width: 267px;
    width: 100%;
    margin: 60px 0;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__title_mobile {
    display: none;
}

.footer a {
    color: var(--colorGray);
    font-size: 16px;
    font-weight: 400;
}

.footer__partners {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    height: 64px;
}

.footer__payments {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__apps {
    display: flex;
    gap: 10px;
    align-items: start;
}

.footer__down {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--colorLightGray2);
    font-size: 14px;
    height: 72px;
    align-items: center;
}

.footer__down a {
    font-size: 14px;
}

.footer__left {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--colorWhite);
}

.footer__social {
    display: flex;
    align-items: center;
    gap: 30px;
}


@media screen and (max-width: 990px) {
    .footer {
        position: relative;
    }

    .footer__info {
         flex-direction: column;
         max-height: 770px;
         gap: 40px;
    }

    .footer__down {
        border: none;
    }

    .footer__social {
        position: absolute;
        right: 0;
        top: 6%;
    }
}

@media screen and (min-width: 375px) and (max-width: 600px) {
    .footer {
        min-height: 625px;
    }
    .footer__info {
        gap: 18px;
        max-height: none;
    }

    .footer__links {
        display: none;
    }

    .footer__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__title_mobile {
        display: flex;
    }

    .footer__payments {
        display: none;
    }

    .footer__partners {
        margin-top: 30px;
    }

    .footer__down{
        padding-top: 104px;
        padding-bottom: 25px;
        position: relative;
    }

    .footer__left {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .footer__social {
        left: 0;
        bottom: 60%;
    }

    .footer__title::after {
        content: url("../images/arrow-down.png");
    }
    .active::after {
        content: url("../images/arrow-top.png");
    }
}