* {
    margin: 0;
}

html {
    font-family: "Graphik LCG", sans-serif;
    color: var(--colorDarkBlue);
    font-size: 22px;
}

.wrapper-inner {
    max-width: 1140px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-button {
    background: var(--colorGreen);
    padding: 18px 28px;
    border-radius: 4px;
    border: none;
    color: var(--colorWhite);
    font-size: 24px;
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: var(--colorDarkBlue);
    display: flex;
    align-items: center;
}

button {
    font-family: GraphikLCG, sans-serif;
    color: var(--colorDarkBlue);
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 65px;
    letter-spacing: -.01em;
    font-weight: 800;
    margin-bottom: 20px;
}

h2 {
    font-size: 55px;
    font-weight: 700;
    letter-spacing: -.05em;
}

h3 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -.05em;
    line-height: 50px;
}

h4 {
    font-size: 16px;
    color: var(--colorWhite);
    font-weight: 500;
}

@media screen and (max-width: 990px) {
    h1 {
        font-size: 55px;
    }

    h2 {
        letter-spacing: 0;
    }
}

@media screen and (min-width: 375px) and (max-width: 600px) {
    h1 {
        font-size: 40px;
    }

    h2, h3 {
        font-size: 30px;
        line-height: 36px;
    }

    h4 {
        font-size: 20px;
    }

    .main-button {
        font-size: 18px;
        padding: 12px 20px;
    }
}