.preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 150px;
}

.preview__info {
    max-width: 830px;
}

.preview__table {
    max-width: 990px;
    width: 100%;
    margin-top: 80px;
}

.preview__table-mobil {
    display: none;
}

@media screen and (width <= 990px) {
    .preview {
        padding-top: 120px;
    }

    .preview__table {
        max-width: 708px;
    }
}

@media screen and (375px <= width <= 600px) {
    .preview {
        padding-top: 70px;
    }

    .preview__table {
        display: none;
    }

    .preview__table-mobil {
        display: block;
        max-width: 450px;
        width: 100%;
        margin-top: 40px;
    }
}